
<div class="container-fluid gfg">
    <img src="../../../../assets/Team.jpg" alt="Snow" style="width:100%; height: 420px;">
 
  
</div>


<div class="container-fluid">
<div class="row">

<div class="col-3">
  


    <figure>
        <img  style=" border-radius: 50%;
        " class="aboutimg slideInLeft" src="../../../../assets/About Us image.png" alt="Trulli" >
   
        <figcaption style=" text-align: center;">Srinivas Golli</figcaption>
      </figure>
    
</div>
<div class="col-md-1"></div>
<div class="col-md-6">
    <div>
        <h1 class="cool-link">Team</h1>
        </div>
  <!-- <h1 class="cool-link">ABOUT US</h1> -->
  <p>Srinivas Goli has been a landmark and a burning example for others regarding how he got to the position within a few years. He started his journey as a Test Engineer in 2003 and, at present,
       the Managing Director in SPEARSOFT Technologies. He has 14 years of 
       Diversified QA experience. He is very dedicated, meticulous with extensive 
       knowledge and expertise in Software. He also knows how to build up spirit while 
       working with a team. He works in an objective-oriented manner. <br>
       <br>

    He has experience of 6 years in Quality Assurance Management. He has an excellent skill in Quality Management that specializes in increasing clients satisfaction and quality with comprehensive expertise in managing multiple projects. He is skilled and certified in ISTQB, CMMi Scampi, Six Sigma Green Belt, and many more; he is also good at decision making. Srinivas believes in 'Hard and Smart Work'.
     </p>


  </div>



</div>

  </div>

<hr>



<div class="container-fluid">
    <div class="row">
    
    <div class="col-3">
    
    
        <figure>
            <img  style=" border-radius: 50%;
            " class="aboutimg1 slideInLeft" src="../../../../assets/Sudheer_Edited.jpg" alt="Trulli" >
            <figcaption style=" text-align: center;">Sudheer</figcaption>
          </figure>

  
    
    
    
    </div>
    <div class="col-md-1"></div>
    <div style="margin-top: 50px;" class="col-md-6">
      
      <!-- <h1 class="cool-link">ABOUT US</h1> -->
      <p>Sudheer Siripragada has over 2 decades of diverse expertise in Business Process Management and Project Management. He is a techno functional professional, being worked for multi-national companies in technical support and SaaS based product & service delivery domains. He is highly successful in business transformation by building high performance teams, create great value proposition for clients by delivering quality service and drive operational excellence with a direct benefit to the bottom line.
        <br>
        <br>He has great passion for Data Analytics, Cloud Computing, Automation, Machine Learning, Artificial Intelligence and Database Management. He is an Amazon Web Services Certified Solutions Architect – Associate and Certified by RedHat as RedHat Certified Server Administrator (RHCSA) and RedHat Certified Engineer (RHCE). 
        Sudheer rigorously practices and believes in participative leadership style.</p>
    
    
      </div>
    
    
    
    </div>
    
      </div>
    <br>
    <br>
    <br>