<div class="container-fluid gfg">
    <img src="../../../../assets/Inside page Images/Contact-Us.jpg" alt="Snow" style="width:100%; height: 420px;">
    


  <h3 class="second-txt">
      Contact Us
  </h3>
  
</div>

<div class="container">
    <div class="col-sm-12" style="margin-left: 50px;">
<h1  class="cool-link">Contact Us</h1>
</div>

<div class="container center">
<div class="row">
  <div class="col-md-1">

  </div>

<div class="col-3">
  <h5 class="text-uppercase">Regestered Office</h5>
  <hr style="width: 0%">

<p>Sri Jaahnavi Plaza, 3rd floor, opposite to SMR Hailands, Srila Garden, Miyapur, Telangana 500049</p>
<br>
<p> Futher information and service please do call or email: <br>
+91901 481 4901 / info@spearsoft.in
</p>



</div>
<div class="col-md-6">


    <section class="hide" id="contact">
        <div class="container">
          <div class="row">
            <!-- <div class="inner">
              <h3 class="masthead-brand"><img src="http://timothy.expert/images/logo.svg?v=1" alt="Code" class="img-responsive logo"> Timothy.Expert</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="index" data-hide="#contact">Home</a></li>
                  <li><a href="blog" data-hide="#contact">Blog</a></li>
                  <li><a href="projects" data-hide="#contact">Projects</a></li>
                      <li class="active"><a href="#" data-hide="#contact">Contact</a></li>
                </ul>
              </nav>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <h5 class="text-uppercase">Enqurie Form</h5>
              <hr style="width: 20%">
              <p class="lead">Have questions or comments?</p>
              <div id="alert"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form action="" method="post" id="contact-form">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name" class="sr-only">Name</label>
                      <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Name" value="" required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="email" class="sr-only">Email</label>
                      <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Email" value="" required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="subject" class="sr-only">Subject</label>
                      <input type="text" class="form-control input-lg" id="subject" name="subject" placeholder="Subject" value="" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="message" class="sr-only">Message</label>
                      <textarea class="form-control input-lg" rows="4" id="message" name="message" placeholder="Message"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg btn-block" id="send" data-loading-text="Sending...">Send message</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>







  </div>



</div>


</div>

</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
  <div class="col-md-9">
   
      <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.9962847630513!2d78.36442641379571!3d17.507690788006627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9374bb7cc64b%3A0xca58a314ba8918bd!2sSpear%20Soft%20technologies!5e0!3m2!1sen!2sin!4v1645115611032!5m2!1sen!2sin" width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
 
  </div>
  
  </div>
</div>
<br>