<div class="container-fluid gfg">
    <img src="../../../../assets/Inside page Images/About-us.jpg" alt="Snow" style="width:100%; height: 420px;">
    
  <h3 class="second-txt">
      ABOUT US
  </h3>
  
</div>
<div style="text-align: center;">
<h1  class="cool-link">ABOUT US</h1>
</div>

<div class="container">
<div class="row">

<div class="col-4">


  <div  class="col-md-3 parahome">
    <img style="width: auto;" class="aboutimg slideInLeft" src="../../../../assets/About Us image.png" alt="img">
</div>



</div>
<div class="col-md-8">
  <!-- <h1 class="cool-link">ABOUT US</h1> -->
  <p *ngIf="arr.length == 0"><b>What is SpearSoft?</b><br>
    SpearSoft Technologies is a startup company providing Software Development, Software Quality Assurance, Robotics and Staffing & Recruiting based out of Hyderabad. SpearSoft provide IT / Software development and services and is working on multiple Robotics Research and Development projects and products.  We have in-house design, rapid prototyping hardware and software development, DIY Robots, BoT, Satellite and manufacturing kit. We are committed to creating IT developers / professionals through our Workshops, Trainings and Advanced courses. 
    Mission for IT Services / Robotics:
    Success is not set by talent alone. Mentoring, training and learning plays a very important role. Teaching and learning are set to transform rapidly and our mission at SpearSoft is to improve the preparation of students for productive functioning in the highly demanding domain and to strengthen the youth into Robotics and other technologies from all the parts of the country. </p>

<p id ="para1" ><b>Why SpearSoft?</b><br> 
  SpearSoft is a company of highly skilled, technical and experienced team from the IT industry working tirelessly for mission of building and testing IT products, for research and development in Robotics. 
  We at SpearSoft believes in “Success is achieved by Discipline and Quality”. One has to follow some essential key factors such as positive attitude, dedication, discipline and innovation.
  Each employee share a passionate commitment around a common purpose to meet amazing results and successful learning outcomes throughout the journey.</p>

  </div>



</div>

  </div>

